@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563eb;
  --color-secondary: #0d9488;
  --color-accent: #f8fafc;
  --radius-box: 1rem;
}

body {
  font-family: "Nunito", sans-serif;
}
