@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563eb;
  --color-secondary: #0d9488;
  --color-accent: #f8fafc;
  --radius-box: 1rem;
}

body {
  font-family: "Nunito", sans-serif;
}
.ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.title {
  @apply text-4xl md:text-6xl lg:text-7xl font-black tracking-tight mb-6 leading-[1.1];
}
html {
  scroll-behavior: smooth;
}
